<div class="text-center">
        <%= link_to profile.fb_link do %>
        <i class="fab fa-profile fa-facebook-square"></i>
        <% end %>
        <%= link_to profile.insta_link do %>
        <i class="fab fa-profile fa-instagram"></i>
        <% end %>
        <%= link_to profile.lnk_link do %>
        <i class="fab fa-profile fa-linkedin"></i>
        <% end %>
        <%= link_to profile.twitt_link do %>
        <i class="fab fa-profile fa-twitter-square"></i>
        <% end %>
    </div>